h2[mat-dialog-title] {
  font-size: 2rem;
}
.custom-label {
  font-size: 1.3rem;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 600px;
  margin-top: 2rem;
}
.image-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.custom-input {
  font-size: 1.2rem;
}
.can-add-error{
    font-size: 1.5rem;
}