<div *ngFor="let levelEmps of displayLevels; let i = index" class="level-group">
  <div class="level-row">
    <div *ngIf="i > 0" class="horizontal-line"></div>
    <div *ngFor="let emp of levelEmps" class="card-wrapper">
      <div
        *ngIf="emp.showSubordinates && emp.subordinates && emp.subordinates.length > 0"
        class="parent-vertical-line"
      ></div>
      <div
        class="vertical-line"
        *ngIf="emp.managerId !== null"
      ></div>
      <app-employee-card
        [employee]="emp"
        (toggleSub)="onShowSubordinates(emp, i)"
        (remove)="onRemoveEmployee(emp, i)"
        (addSubordinate)="onAddSubordinate(emp, i)"
        (changeManager)="openManagerDialog(emp,i)"
      ></app-employee-card>
    </div>
  </div>
</div>
