.designation {
  color: rgb(35, 123, 182);
  font-size: 2rem;
  font-weight: 500;
}
.custom-label {
  font-size: 1.5rem;
}
h2[mat-dialog-title] {
  font-size: 2rem;
}
.custom-autocomplete {
  margin-top: 2rem;
  width: 80%;
}
.custom-input {
  width: 100%;
}
