<div
  class="employee-card"
  [class.highlight]="employee.showSubordinates"
  (click)="toggleSubordinates($event)"
>
  <div class="top-container">
    <div class="image-wrapper">
      <img
        [src]="employee.imageUrl"
        width="80"
        class="user-image"
        alt="{{ employee.name }}"
      />
    </div>
    <div class="name-designation-wrapper">
      <p class="name">{{ employee.name }}</p>
      <p class="designation">{{ employee.designation }}</p>
    </div>
  </div>

  <div class="info-wrapper">
    <p class="info" *ngIf="employee.managerId">
      Manager ID: {{ employee.managerId }}
    </p>
    <p class="info">Subordinates - {{ employee.subordinates?.length ?? 'No Subordinates' }}</p>
  </div>

  <div class="actions">
    <button
      mat-button
      color="primary"
      *ngIf="employee.managerId === null"
      class="action-text action-btns"
      (click)="onChangeManager($event)"
    >
      Change Manager
    </button>
    <button
      mat-button
      *ngIf="(employee.subordinates?.length ?? 0) === 0"
      color="warn"
      (click)="onRemoveEmployee($event)"
      class="action-btns action-text"
    >
      Remove
    </button>

    <button
      mat-button
      color="primary"
      (click)="onAddSubordinate($event)"
      class="action-btn action-text"
    >
      Add suboridinates
    </button>
  </div>
</div>
