.user-image {
  height: 5rem;
  width: 5rem;
  object-fit: cover;
  border-radius: 50%;
}
.name {
  font-size: 2rem;
  font-weight: 450;
}
.sub-heading {
  font-size: 1.4rem;
}

.action-btns {
  font-weight: 500;
}
.swap-icon {
  align-self: flex-end;
  height: auto;
  transition: color 0.2s;
  &:hover {
    cursor: pointer;
    color: rgb(234, 87, 111);
  }
}

.top-container {
  display: flex;
  width: 100%;
  align-items: start;
  justify-content: space-between;
}
.action {
  display: flex;
}
.employee-card {
  padding: 1rem;
  border-radius: 10px;
  align-self: center;
  border: 2px solid rgb(70, 141, 167);
  min-width: 250px;
  max-width: 250px;
  flex: 1 1 150px;
  flex-shrink: 1;
  flex-grow: 0;
  align-self: stretch;
  flex-wrap: wrap;
  // height: max-content;
  position: relative;
}
.verticle-parent{
  position: absolute;
  left: 50%;
  bottom: 0%;
  height: 20px;
  width: 3px;
  background-color: black;
}
.horizontal-connector{
  width: 100rem;
  width: 3px;
  position: absolute;
  background-color:black;
}
.employee-card.highlight {
  border: 2px solid #54a6dd;
  box-shadow: 0 0 15px rgba(0, 122, 204, 0.5); 
  background-color: #f0f8ff;
  transition: all 0.3s ease;
}
.info{
  font-size: 1.2rem;
  margin-top: 1rem;
}